.c{
    display: grid;
    color: white;
    justify-content: center;
    padding: 20px;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(2,130px);
    gap: 20px;
    grid-template-areas: 
    'a a b e'
    'c d b e'
    ;
}
.c>div{
    background-color: #444444;;
    font-size: 40px;
    padding: 40px;
    border-radius: 10px;
}
.c>div:nth-child(1){
    grid-area: a;
}
.c>div:nth-child(2){
    grid-area: b;
}
.c>div:nth-child(3){
    grid-area: e;
}
.c>div:nth-child(4){
    grid-area: c;
}
.c>div:nth-child(5){
    grid-area: d;
}