#container{
    display: grid;
    grid-template-columns: repeat(12,100px);
    grid-template-rows: repeat(5,60px);
    gap: 10px;
    color:#1497be;
    /* background-color: #2f3639; */
    text-align: center;
    justify-content: center;
    /* align-items: center; */
}
.b{
    background-color:#02bdd5 ;
    padding:50px;
}
.b>div{
    background-color: #262c2c;
    border-radius: 10px;
    padding: 30px;
}
#container>div{
    padding: 20px;
    /* padding-top:10px; */
    font-size: 20px;
}
#container>div:nth-child(1){
    background-color: #2f3639;
}
#container>div:nth-child(2){
    background-color: #2f3639;
}
#container>div:nth-child(3){
    background-color: #2f3639;
}
#container>div:nth-child(4){
    background-color: #2f3639;
}
#container>div:nth-child(5){
    background-color: #2f3639;
}
#container>div:nth-child(6){
    background-color: #2f3639;
}
#container>div:nth-child(7){
    background-color: #2f3639;
}
#container>div:nth-child(8){
    background-color: #2f3639;
}
#container>div:nth-child(9){
    background-color: #2f3639;
}
#container>div:nth-child(10){
    background-color: #2f3639;
}
#container>div:nth-child(11){
    background-color: #2f3639;
}
#container>div:nth-child(12){
    background-color: #2f3639;
}
#container>div:nth-child(13){
    background-color: #2f3639;
}
#container>div:nth-child(14){
    background-color: #2f3639;
}
#container>div:nth-child(15){
    background-color: #2f3639;
}
#container>div:nth-child(16){
    background-color: #2f3639;
}
#container>div:nth-child(17){
    background-color: #2f3639;
}
#container>div:nth-child(18){
    background-color: #2f3639;
}
#container>div:nth-child(19){
    background-color: #2f3639;
}
#container>div:nth-child(20){
    background-color: #2f3639;
}
#container>div:nth-child(21){
    background-color: #2f3639;
}
#container>div:nth-child(22){
    background-color: #2f3639;
}
#container>div:nth-child(23){
    background-color: #2f3639;
}
#container>div:nth-child(24){
    background-color: #2f3639;
}
#container>div:nth-child(25){
    background-color: #2f3639;
}
#container>div:nth-child(26){
    background-color: #2f3639;
}
#container>div:nth-child(27){
    background-color: #2f3639;
}
#container>div:nth-child(28){
    background-color: #2f3639;
}
#container>div:nth-child(29){
    background-color: #2f3639;
}
#container>div:nth-child(30){
    background-color: #2f3639;
}
#container>div:nth-child(31){
    background-color: #2f3639;
}
#container>div:nth-child(32){
    background-color: #2f3639;
}
#container>div:nth-child(33){
    background-color: #2f3639;
}
#container>div:nth-child(34){
    background-color: #2f3639;
}
#container>div:nth-child(35){
    background-color: #2f3639;
    grid-area: 3/11/4/13;
}
#container>div:nth-child(36){
    background-color: #2f3639;
}
#container>div:nth-child(37){
    background-color: #2f3639;
}
#container>div:nth-child(38){
    background-color: #2f3639;
}
#container>div:nth-child(39){
    background-color: #2f3639;
}
#container>div:nth-child(40){
    background-color: #2f3639;
}
#container>div:nth-child(41){
    background-color: #2f3639;
}
#container>div:nth-child(42){
    background-color: #2f3639;
}
#container>div:nth-child(43){
    background-color: #2f3639;
}
#container>div:nth-child(44){
    background-color: #2f3639;
}
#container>div:nth-child(45){
    background-color: #2f3639;
}
#container>div:nth-child(46){
    background-color: #2f3639;
    grid-area: 4/11/5/13;
}
#container>div:nth-child(47){
    background-color: #2f3639;
}
#container>div:nth-child(48){
    background-color: #2f3639;
}
#container>div:nth-child(49){
    background-color: #2f3639;
}
#container>div:nth-child(50){
    background-color: #2f3639;
}
#container>div:nth-child(51){
    background-color:#2f3639 ;
    grid-area: 5/5/6/9;
}
#container>div:nth-child(52){
    background-color: #2f3639;
}
#container>div:nth-child(53){
    background-color: #2f3639;
}
#container>div:nth-child(54){
    background-color: #2f3639;
}
#container>div:nth-child(55){
    background-color: #2f3639;
}
