.title {
    text-align: center;
}

.title>div {
    display: flex;
    justify-content: center;
}

.c {
    display: grid;
    grid-template-columns: repeat(4, 295px);
    grid-template-rows: repeat(5, 430px);
    row-gap: 50px;
    justify-content: space-evenly;
}

.c>div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 20px;
    text-align: center;
}

.c>div>img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    margin-top: -10px;
}

.c>div>img~img {
    width: 150px;
    margin-top: -20px;
}